.Note {
    grid-column: 3;
    display: flex;
    place-items: center;
    max-height: 100%;
    color: lightpink;
    transition: 0.3s ease-out;
}

.Note:hover {
    color: var(--primary-color);
    transition: 1s ease-out;
}

.Note:active {
    color: var(--primary-color-very-dark);
    transition: 0.2s ease-in;
}

.Note.small {
    display: none;
}

.note-text,
.snippet {
    color: darkslategrey;
    text-align: left;
    font-family: var(--notes-font);
    font-size: 0.8rem;
    line-height: 1.2;
}

.plus-icon {
    margin-left: 40px;
    font-size: 1.6rem;
    cursor: pointer;
    box-shadow: 1.5px 1.5px 1.5px grey;
    border-radius: 50%;
}

.plus-icon.small {
    display: none;
}

.edit-note-icon, .open-note-icon, .close-note-icon {
    margin-left: 0.5em;
    color: var(--primary-color);
    font-size: inherit;
    cursor: pointer;
}

.small-note-intro {
    display: none;
} 

@media screen and (max-width: 960px) {
    .Note {
        display: none;
    }

    .Note.small {
        display: block;
        margin-top: 10px;
    }

    .note-text, .snippet {
        max-width: 100%;
    }

    .plus-icon {
        display: none;
    }

    .plus-icon.small {
        display: inline;
        margin-left: 10px;
        color: var(--primary-color);
        font-size: inherit;
        line-height: inherit;
    }

    .note-text * {
        font-size: inherit;
        line-height: inherit;
    }    

    .small-note-intro {
        display: inline;
        margin-right: 8px;
        color: var(--primary-color);
        font-style: italic;
        line-height: inherit;
    }
}