* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    hyphens: auto;
    line-height: 1.4;
    font-family: var(--main-font);
    font-size: 21px;
}

h1,
h2,
h3 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    font-weight: 600;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.6rem;
}

h3 {
    font-size: 1.15rem;
}

button {
    color: var(--text-on-primary-color);
    background-color: var(--primary-color);
    padding: 8px 10px;
    font-size: 1rem;
    font-weight: bold;
    border: 1px solid grey;
    box-shadow: 2px 2px 2px grey;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s linear;
}

button:hover {
    background-color: var(--primary-color-light);
    transition: 0.4s ease-out;
}

button:active {
    background-color: var(--primary-color-dark);
    transition: 0.2s ease-in;
}

p {
    margin-bottom: 20px;
}

ul,
ol,
blockquote {
    margin-top: 15px;
    margin-left: min(50px, 10vw);
    margin-bottom: 20px;
    line-height: 1.1;
}

ol {
    list-style: decimal;
}

li {
    margin: 10px 0;
}

b,
i,
u,
li {
    line-height: inherit;
}

textarea {
    padding: 8px;
    font-family: var(--notes-font);
    font-size: 0.8rem;
    line-height: 1.15;
    border-radius: 5px;
}

@media screen and (max-width: 960px) {
    * {
        font-size: 20px;
    }
}

@media screen and (max-width: 720px) {
    * {
        font-size: 18px;
    }

    h1 {
        font-size: 1.7rem;
    }

    h2 {
        font-size: 1.4rem;
    }

    h3 {
        font-size: 1.1rem;
    }

    button {
        padding: 6px;
    }

    textarea {
        display: block;
        margin-bottom: 5px;
        resize: none;
    }
}
