.Welcome {
    max-width: min(100%, 700px);
    margin-left: 90px;
}

.welcome-text-cont {
    max-width: min(800px, 100%);
    min-height: 190px;
    text-align: justify;
}

.welcome-text-cont p {
    margin-bottom: 15px;
}

.book-cover-img {
    float: right;
    margin-left: 50px;
    margin-bottom: 20px;
}

.book-cover-img.small {
    display: none;
}

@media screen and (max-width: 960px) {
    .Welcome {
        margin-left: 50px;
    }
}

@media screen and (max-width: 720px) {
    .Welcome {
        margin-left: 0;
    }

    .book-cover-img {
        display: none;
    }

    .book-cover-img.small {
        display: block;
        margin-left: 20px;
        margin-bottom: 10px;
    }
}
