.Quiz {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    width: calc(100% - 60px);
    margin-left: 60px;
    padding: 50px;
    border-radius: 5px;
    background-color: var(--primary-color);
    color: var(--text-on-primary-color);
}

.Quiz button {
    background-color: var(--primary-color-dark);
    cursor: inherit;
}

.Quiz .selectable-button {
    cursor: pointer;
    transition: 0.2 linear;
}

.Quiz .selectable-button:hover {
    background-color: var(--primary-color-light);
    transition: 0.4s ease-out;
}

.Quiz .selectable-button:active {
    background-color: var(--primary-color-very-dark);
    transition: 0.2s ease-in;
}

.quiz-inner-cont {
    display: block;
    max-width: 550px;
}

.quiz-question {
    margin-bottom: 30px;
}

.quiz-answers {
    max-width: 600px;
    margin-left: 50px;
}

.answer-outer-cont {
    display: flex;
    width: fit-content;
    padding: 10px 15px;
    border-radius: 10px;
}

.answer-index-cont {
    min-width: 40px;
    margin-top: 9px;
}

.answer {
    text-align: left;
    font-weight: normal;
}

.solution-cont {
    margin-top: 10px;
    line-height: 1rem;
}

.quiz-icon-cont {
    min-width: 45px;
    font-size: 1.25rem;
}

.quiz-button-cont {
    margin-top: 50px;
}

.quiz-button-cont button:disabled {
    background-color: var(--primary-color-disabled);
    cursor: not-allowed;
}

.quiz-result {
    text-align: center;
}

.quiz-result > * {
    margin-bottom: 20px;
}

@media screen and (max-width: 960px) {
    .Quiz {
        margin-left: 40px;
    }
}

@media screen and (max-width: 720px) {
    .Quiz {
        width: 100%;
        margin: 0;
        padding: 6vw;
    }

    .quiz-question {
        margin-bottom: 20px;
    }

    .quiz-answers {
        margin-left: 5vw;
    }

    .answer-outer-cont {
        padding: 10px 0;
    }

    .answer-index-cont {
        min-width: 10vw;
    }

    .answer {
        line-height: 1.2;
    }

    .solution-cont {
        margin-left: -10vw;
    }

    .quiz-button-cont {
        margin-top: 20px;
    }
}
