.lesson-cont {
    display: grid;
    grid-template-columns: 110px minmax(400px, 60%) auto;
    gap: 0 35px;
    max-width: 100%;
    margin-left: 30px;
}

.lesson-header {
    grid-column: 2;
    grid-row: 1;
    width: 100%;
}

.lesson-end-button-cont {
    grid-column: 2;
    justify-self: center;
}

@media screen and (max-width: 960px) {
    .lesson-cont {
        grid-template-columns: minmax(50px, 110px) minmax(350px, 500px);
        margin-right: 20px;
    }
}

@media screen and (max-width: 720px) {
    .lesson-cont {
        display: block;
        margin-left: 0;
    }

    .lesson-end-button-cont {
        margin-top: 10px;
    }

    .lesson-end-button-second-half {
        display: none;
    }
}