.Loading {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.loading-inner-cont {
    max-width: min(70vw, 200px);
    text-align: center;
}

.loading-inner-cont img {
    max-width: 100px;
    height: auto;
}